@model ICollection<Aula02.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Count estudantes.</h1>

    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data da matrícula</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.ID</td>
                    <td>@s.FirstMidName</td>
                    <td>@s.LastName</td>
                    <td>@s.EnrollmentDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
</table>
</div>
